<html>
  <h1>Welcome to Github Pages..00</h1>
  <a href="Personal">Python</a>
  <a href="web/python/overview.html">Django</a>
  <a href="web/python/overview.html">Shell scripting</a>
  <a href="web/python/overview.html">AWS</a>
  <a href="web/python/overview.html">Git</a>
  
  
  <body>
    {% site.github.public_repositories %}
    {%site.github%}
    <ul class="list  list--repos">
        <li class="item  item--repo">
            <a href="#">Shamim</a>
        </li>
    </ul>
    
    <ul class="portfolio">
    {% for repo in site.github.public_repositories limit:28 %}
 
        {% if repo.fork != true %}
            <li class="repo">
               
                <a href="{{ repo.homepage }}">{{ repo.name }}</a>
             
            </li>
        {% endif %}
 
    {% endfor %}
</ul>
    <ul class="portfolio">
    {% for repo in site.github.public_repositories limit:28 %}
 
        {% if repo.Shamim != true %}
            <li class="repo">
               
                <a href="{{ repo.homepage }}">{{ repo.name }}</a>
             
            </li>
        {% endif %}
 
    {% endfor %}
</ul>
    
      <h1>Welcome to Github Pages..03</h1>
    {{ site.baseurl }}
    {{ site.url }}
    {% assign doclist = site.pages | sort: 'url'  %}
    <ul>
       {% for doc in doclist %}
            {% if doc.name contains '.md' or doc.name contains '.html' %}
                <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.url }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
  <body>

  
</html>
